html, body {
	height: 100%;
	background: rgb(158, 165, 172);
	margin: 0;
}

.box {
	height: 15%;
	width: 100%;
	margin: 0;
}

.box1 {
	background: rgb(87, 155, 223);
	height: 40px;
	width: 40px;
	padding: 10px;

}

.box2 {
	background: white;
	height: 30%;
	width: 100%;
	margin: 0;
}

.three {
	background: rgb(87, 155, 223);
}

.four {
	background: rgb(87, 207, 195);
}

.five {
	background: rgb(191, 224, 142);
}

.six {
	background: rgb(227, 208, 32);
}
.text {
	font-size: 12px;
	text-align: center;
	padding: 20px;
}